services:
  app:
    build:
      context: .
    image: node-app:latest
    env_file: .env
    networks:
      - webnet
    ports: 
      - '9229:9229'
    volumes:
      - ./:/src/app
    environment:
      - NODE_ENV=development

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/usr/share/nginx/static:ro
      - ./html:/usr/share/nginx/html:ro
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge


